.one{
  text-align: center;
  font-style: italic;
  font-size: 65px;
  text-decoration: underline;
}
.jo{
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-family: sans-serif;
  font-size: 35px;
}
.vuelos{
  font-family: arial;
  font-size: 18px;
}
.hoteleros{
  font-family: arial;
  font-size: 18px;

}
.dias{
  font-family: sans-serif;
  font-size: 25px;
}

.expdedia{
  font-size: 20px;
  font-family: arial;
}
.img{
  width: 300px;
  height: 225px;
}
#precio{
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}
